<!--The content below is only a placeholder and can be replaced.-->
<h2> Encrypt </h2>
<div class="container">    
  <div class="row">
    <div>
      <label for="secret"> secret: </label>
      <input type="text" name="secret" #secret/>
    </div>

    <div>
      <label for="string"> string: </label> 
      <input type="text" name="string" #string/>
    </div>

    <div>
      <label for="algorithm"> Algorithm: </label> 
      <input type="text" name="algorithm" value="AES" disabled/>
    </div>

    <div>
      <button class="btn btn-primary" (click)="encrypt(secret,string)"> Encrypt </button>
    </div>

  </div>
  <div>
      <h4> Result: <span> {{encrypted_result}} </span> </h4>
    </div>
</div>

<h2> Decrypt </h2>
<div class="container">    
  <div class="row">
    <div>
      <label for="secret"> secret: </label>
      <input type="text" name="secret" #dec_secret/>
    </div>

    <div>
      <label for="string"> string: </label> 
      <input type="text" name="string" #dec_string/>
    </div>

    <div>
      <label for="algorithm"> Algorithm: </label> 
      <input type="text" name="algorithm" value="AES" disabled/>
    </div>

    <div>
      <button class="btn btn-primary" (click)="decrypt(dec_secret,dec_string)"> Decrypt </button>
    </div>

  </div>
    <div>
      <h4> Result: <span> {{decrypted_result}} </span> </h4>
    </div>
</div>


